.add-form {
  button {
    background: $white;
    border-bottom-right-radius: $m-size;
    border-top-right-radius: $m-size;
    font-size: $m-size;
    width: $xl-size;

    &:hover {
      background: $main-blue;
      border-color: $main-blue;
    }
  }

  input {
    font-size: $m-size;
    height: $xl-size * 1.2;
  }

  select {
    border-bottom-left-radius: $m-size;
    border-top-left-radius: $m-size;
    cursor: pointer;
    font-size: $m-size;
    height: $xl-size * 1.2;
  }
}
