.category {
}

.category-item {
  border-radius: $m-size;
  margin-bottom: $xs-size;

  .card-header {
    align-items: center;
    background-color: $main-blue;
    background-image: linear-gradient(225deg, $main-blue 0%, $main-green 100%);
    border-radius: $m-size;
    color: $white;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
