header {
  margin-bottom: $l-size;
  min-height: 10vh;

  .navbar {
    align-items: center;
    background-color: $main-blue;
    display: flex;
    font-size: $m-size;
    justify-content: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    .navbar-brand {
      align-items: center;
      color: $white;
      display: flex;
      font-size: $l-size;
      letter-spacing: 4px;
      text-transform: none;

      .navbar-logo {
        background-color: transparent;
        height: $xl-size;
        margin-right: $s-size;
        width: $xl-size;
      }
    }
  }
}

@media (min-width: $l-breakpoint) {
  header {
    .navbar {
      padding: 0 $s-size;

      .help-menu {
        border-left: 1px solid $white;
        }

      .navbar-expand {
        margin-right: 0;
      }

      .nav-search {
        display: block;
        right: 0;
      }

      .nav-search-expand {
        display: none;
      }
    }
  }
}
