.list {
  li {
    height: $l-size * 1.5;
  }

  .card-body {
    margin: 0;
  }
}

.list-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.show-div {
  clip-path: circle(75%) !important;
  -webkit-clip-path: circle(75%) !important;
}

.list-item-action {
  align-items: center;
  display: flex;
  flex-direction: row;

  svg {
    cursor: pointer;
    font-size: $m-size * 1.2;
    margin-left: $m-size * 1.2;
  }

  .custom-control-label {
    cursor: pointer;

    &::after {
      height: $m-size * 1.2;
      width: $m-size * 1.2;
    }

    &::before {
      height: $m-size * 1.2;
      width: $m-size * 1.2;
    }
  }

  .close-icon {
    color: $white;
    cursor: pointer;
    transition: color .2s ease-in-out;

    &:hover {
      color: $grey-dark;
    }
  }

  .trash-icon {
    color: $white;
    cursor: pointer;
    transition: color .2s ease-in-out;

    &:hover {
      color: $red-rgba;
    }
  }
}

.list-item-edit {
  align-items: center;
  background-color: $main-blue;
  background-image: linear-gradient(225deg, $main-blue 0%, $main-green 100%);
  border-radius: $s-size;
  clip-path: circle(0% at 0% 0%);
  -webkit-clip-path: circle(0% at 0% 0%);
  display: flex;
  justify-content: space-between;
  padding: 0 $xs-size 0 $m-size;
  position: relative;
  transform: translate(0, -100%);
  transition: clip-path .5s ease-in-out;

  button {
    border: none;
    color: $white;
    font-size: $m-size;

    &:hover {
      background: none;
      color: $grey-dark;
    }
  }

  input {
    background: transparent;
    border: none;
    border-left: 2px solid $white;
    border-right: 2px solid $white;
    border-radius: 0;
    color: $white;
    font-size: $m-size;
    width: 100%;

    &:focus {
      background: transparent;
      border-color: $white;
      box-shadow: none;
      color: $white;
    }
  }
}
