// Colors
$anthracite-rgba: rgba(51,51,51, .8);
$anthracite: #333;
$red-rgba: rgba(204, 12, 47, .8);
$grey: #ececec;
$grey-rgba: rgba(223, 223, 223, .7);
$grey-dark: darken($grey, 50);
$grey-light: lighten($grey, 20);
$main-blue: #08aeea;
$main-green: #30c4ab;
$main-green-rgba: rgba(48, 196, 171, .7);
$shadow: 0 10px 10px rgba(0, 0, 0, .06);
$white: #fff;

// Sizes
$xxs-size: .4rem;
$xs-size: .8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.8rem;
$xl-size: 4.8rem;
$xxl-size: 8rem;

// Breakpoints
$s-breakpoint: 576px;
$m-breakpoint: 768px;
$l-breakpoint: 992px;
$xl-breakpoint: 1200px;
